.mypagination{
    margin: auto!important;
}

.mycontent{
    background-color: #A7D6A7;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.126), 0px 5px 5px rgba(0, 0, 0, 0.159);
}
.mycontent hr{
    border-top: 3px solid black;
    opacity: 1;
}

.mymain-image{
    width: 100%;
    max-height: 280px;
    object-fit: cover;
}


#Contacts hr{
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}
#Contacts i{
    color: black;
}
#Contacts a{
    color: black;
}


/* Small */
@media (min-width: 576px) {
    .mybox{
        border: 2px solid black;
        border-top: none;
        border-right: none;
        border-bottom: none;
        padding-left: 20px;
    }
}

/* Medium */
@media (min-width: 768px) {
    #Contacts hr{
        width: 320px;
    }
    .mymain-image{
        max-height: 240px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #Contacts hr{
        width: 470px;
    }
    .mymain-image{
        max-height: 340px;
    }
    .museum-img{
        max-height: 700px!important;
    }
    .hotel-img{
        max-height: 382px!important;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}


/* Museum */
